<%- include("partials/header.ejs") %>
  <body>

    <!-- Searchbar -->
    
      <form action="/search" method="get" class="search-bar">
        <nav>
          <button class="menu" disabled>Menu</button>
          <div class="menu-content">
            <a  href="/">Home</a>
            <a  href="/profile">Profile</a>
            <a  href="/movies">Movies</a>
            <a  href="/tv-shows">TV Shows</a>
            <a  href="/users">Users</a>
            <a  href="/logout" role="button">Logout</a>
          </div>
        </nav>
        <input
          type="text"
          placeholder="Search for Movie/Anime/TV Show"
          name="search"
        />
        <button type="submit"><i class="fa fa-search"></i></button>

     

      </form>
      <!-- Show search results -->
    
      <% if (locals.results) { %>
        <div>
          <h1 class="title">RESULTS</h1>
          <div class="grid-container">
            <% results.forEach(result => { %>
            <form action="/add" method="post" class="grid-item">
              <h2 class="title"><%= result.title %></h2>
              <div class="poster-card">
              <img class="poster" src="<%= result.poster_path %>" alt="<%= result.title %> poster">
            </div>
              <p class="description"> <span class="bold">Description:</span> <%= result.overview %></p>
              <p class="date"> <span class="bold">Release Date:</span> <%= result.release_date %></p>
          <input type="text" name="comment" value="" placeholder="Write a comment (if you want) then click a star to rate"> 
              <div class="ratings">
                <% for (let i = 10; i > 0; i--) { %>
                <span class="rating-star" data-rating="<%= i %>">★</span>
                <% } %>
                <input type="hidden" name="rate" class="rating-value" value="">
              </div>
              <input type="hidden" name="title" value="<%= result.title %>">
              <input type="hidden" name="poster" value="<%= result.poster_path %>">
              <input type="hidden" name="description" value="<%= result.overview %>">
              <input type="hidden" name="release_date" value="<%= result.release_date %>">
              <input type="hidden" name="type" value="<%= result.type %>">
            </form>
            <% }) %>
          </div>
          <a href="#" class="up-arrow"><img src="assets/icons/up.png" alt="up-arrow"></a>
        </div>
      <!-- Show added AMTss -->

      <% } else if (locals.data && locals.data.length > 0 ) { %>
        
        <h1 class="title">AMTss</h1>
    <div class="grid-container">
      <% data.forEach(data => { %>
        <form action="/delete" method="post" class="grid-item">
          <h2 class="title"><%= data.title %></h2>
          <div class="poster-card" >
          <img class="poster" src="<%= data.poster_path %>" alt="<%= data.title %> poster" > 
          <div class="rated">
            <% for (let i = data.rate; i > 0; i--) { %>
              <span class="active-star">★</span>
              <% } %>
              <% for (let i = 10 - data.rate; i > 0; i--) { %>
                <span class="passive-star">★</span>
                <% } %>
            </div>
          </div>
          <p class="description"> <span class="bold">Description:</span> <%= data.overview %></p>
          <p class="date"> <span class="bold">Release Date:</span> <%= data.release_date %></p>
          <p class="date"> <span class="bold">You have added this on:</span> <%= data.added_date %></p>
          <% if (data.comment) { %>
          <p class="comment"><span class="bold">Your comment: </span><%= data.comment %></p>
          <% } else {%>
            <p class="comment"><span class="bold">You did not give a comment for this A/M/Ts</span></p>
            <% } %>
            <div class="buttons">
          <button class="dlt-btn" type="submit">Delete</button>
          <button class="upd-btn" type="submit" formaction="/to-update">Update</button>
        </div>
          <input type="hidden" name="del" value="<%= data.id %>">
        </form>
      <% }) %>
    </div>
    <a href="#" class="up-arrow"><img src="assets/icons/up.png" alt="up-arrow"></a>
    <!-- Login/Register -->
     
  <% } else { %>
    
    <h1 class="title">&#11025;Search/Comment/Rate &#11023;</h1>
    <h2 class="title">You have not added anything yet.</h2>
    


  <% } %>

 
    <%-include("partials/footer.ejs") %>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.rating-star').forEach(star => {
          star.addEventListener('click', (e) => {
            const rating = e.target.getAttribute('data-rating');
            const form = e.target.closest('form');
            const ratingValue = form.querySelector('.rating-value');
            ratingValue.value = parseInt(rating);
            form.submit();
          });
        });
      });
    </script>
  </body>
</html>
