<%- include("partials/header.ejs") %>
  <body>

    <!-- Searchbar -->
    
    <%- include("partials/search-bar.ejs") %>
      <!-- Show search results -->
    
      <% if (locals.results) { %>
        <div>
          <h1 class="title">RESULTS</h1>
          <div class="grid-container">
            <% results.forEach(result => { %>
            <form action="/add" method="post" class="grid-item">     
              <button class="watchlist-btn" type="submit" formaction="/watchlist"><img src="assets/icons/bookmark.png" alt="add-to-watchlist"><span class="invisible">Add to Watchlist</span></button>
              <h2 class="title"><%= result.title %></h2>
              <div class="poster-card">
              <img class="poster" src="<%= result.poster_path %>" alt="<%= result.title %> poster">
            </div>
              <p class="description"> <span class="bold">Description:</span> <%= result.overview %></p>
              <p class="date"> <span class="bold">Release Date:</span> <%= result.release_date %> </p>
              
          <input type="text" name="comment" value="" placeholder="Write a comment (if you want) then click a star to rate" maxlength="255" > 
          <div class="char-count">0/255</div>
              <div class="ratings">
                <% for (let i = 10; i > 0; i--) { %>
                <span class="rating-star" data-rating="<%= i %>">★</span>
                <% } %>
                <input type="hidden" name="rate" class="rating-value" value="">
              </div>
              <input type="hidden" name="title" value="<%= result.title %>">
              <input type="hidden" name="poster" value="<%= result.poster_path %>">
              <input type="hidden" name="description" value="<%= result.overview %>">
              <input type="hidden" name="release_date" value="<%= result.release_date %>">
              <input type="hidden" name="type" value="<%= result.type %>">
            </form>
            <% }) %>
          </div>
          <a href="#" class="up-arrow"><img src="assets/icons/up.png" alt="up-arrow"></a>
        </div>
      <!-- Show added AMTss -->

      <% } else if (locals.data && locals.data.length > 0 ) { %>
        
        <h1 class="title"><%= header %></h1>
        <form action="/order" method="post" id="orderForm">
        <div class="radio-group">
          <label class="radio-container"><img src="assets/icons/like.png" alt="order-by-like"/>
              <input type="radio" name="likes">
              <span class="checkmark"></span>
          </label>
          <label class="radio-container active-star"><img src="assets/icons/star.png" alt="order-by-rate"/>
              <input type="radio" name="rating">
              <span class="checkmark"></span>
          </label>
          <label class="radio-container"><img src="assets/icons/sort.png" alt="alphabetical-order"/>
              <input type="radio" name="order">
              <span class="checkmark"></span>
          </label>
      </div>
      </form>
        
    <div class="grid-container">
      <% data.forEach(data => { %>
        <form action="/delete" method="post" class="grid-item">
          <div class="likes-container">
            <% if (data.likes === 0) { %>
              <img class="like-icon" src="assets/icons/like.png" alt="like-button"/>
            <% } else { %>
            <span class="likes-count"><%= data.likes %></span>
            <img class="like-icon" src="assets/icons/like.png" alt="like-button"/>
            <% } %>
        </div>
          <h2 class="title"><%= data.title %></h2>
          <div class="poster-card" >
          <img class="poster" src="<%= data.poster_path %>" alt="<%= data.title %> poster" > 
          <div class="rated">
            <% for (let i = data.rate; i > 0; i--) { %>
              <span class="active-star">★</span>
              <% } %>
              <% for (let i = 10 - data.rate; i > 0; i--) { %>
                <span class="passive-star">★</span>
                <% } %>
            </div>
          </div>
          <p class="description"> <span class="bold">Description:</span> <%= data.overview %></p>
          <p class="date"> <span class="bold">Release Date:</span> <%= data.release_date %></p>
          <p class="date"> <span class="bold">You have added this on:</span> <%= data.added_date %></p>
          <% if (data.comment) { %>
          <p class="comment"><span class="bold">Your comment: </span><%= data.comment %></p>
          <% } else {%>
            <p class="comment"><span class="bold">You did not give a comment for this A/M/Ts</span></p>
            <% } %>
            <div class="buttons">
          <button class="dlt-btn" type="submit">Delete</button>
          <button class="upd-btn" type="submit" formaction="/to-update">Update</button>  
        </div>
          <input type="hidden" name="del" value="<%= data.id %>">
        </form>
      <% }) %>
    </div>
    <a href="#" class="up-arrow"><img src="assets/icons/up.png" alt="up-arrow"></a>
    <!-- Login/Register -->
     
  <% } else { %>
    
    <h1 class="title">&#11025;Search/Comment/Rate &#11023;</h1>
    <h2 class="title">You have not added anything yet.</h2>
    


  <% } %>

 
    <%-include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const errorMessage = "<%= err %>";
      if (errorMessage) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: errorMessage,
        });
      }
        document.querySelectorAll('.rating-star').forEach(star => {
        star.addEventListener('click', (e) => {
        const rating = e.target.getAttribute('data-rating');
        const form = e.target.closest('form');
        const ratingValue = form.querySelector('.rating-value');
        ratingValue.value = parseInt(rating);
        form.submit();
        });
        });
          const commentInputs = document.querySelectorAll('input[name="comment"]');
          commentInputs.forEach(input => {
          const charCount = input.nextElementSibling;
          input.addEventListener('input', () => {
          const currentLength = input.value.length;
          charCount.textContent = `${currentLength}/255`;
          charCount.style.color = currentLength > 0 ? 'black' : 'grey';
          });
          });
            const orderForm = document.getElementById('orderForm');
            const radioButtons = orderForm.querySelectorAll('input[type="radio"]');
            
            radioButtons.forEach(radio => {
            radio.addEventListener('change', () => {
            orderForm.submit();
            });
            });
  });
    </script>
  </body>
</html>
