<%- include("partials/header.ejs") %>
  <body>

    <%- include("partials/search-bar.ejs") %>
    <% if (locals.data.length > 0) { %>
    <h1 class="title">AMTss of <%= user %></h1>
    
    <div class="grid-container">
      <% data.forEach(item => { %>
        <form action="/like" method="post" class="grid-item"> 
        <h2 class="title"><%= item.title %></h2>
        <div class="poster-card">
          <img
            class="poster"
            src="<%= item.poster_path %>"
            alt="<%= item.title %> poster"
            loading="lazy"
          />
          <div class="rated">
            <% for (let i = item.rate; i > 0; i--) { %>
              <span class="active-star">★</span>
              <% } %>
              <% for (let i = 10 - item.rate; i > 0; i--) { %>
                <span class="passive-star">★</span>
                <% } %>
            </div>
        </div>
        <p class="description">
          <span class="bold">Description:</span> <%= item.overview %>
        </p>
        <p class="date">
          <span class="bold">Release Date:</span> <%= item.release_date %>
        </p>
        <p class="date">
          <span class="bold">Added Date:</span> <%= item.added_date %>
        </p>
        <% if (item.comment) { %>
            <p class="comment"><span class="bold"><%= user %>'s comment: </span><%= item.comment %></p>
            <% } else {%>
              <p class="comment"><span class="bold"><%= user %> did not give a comment for this A/M/Ts</span></p>
              <% } %>
                  <button class="like-btn" type="submit"><span class="likes-count2"><%= item.likes %></span><img src="assets/icons/like.png" alt="like-button"
                    /><span class="invisible">Click to like</span></button>
                <input type="hidden" name="item-id" value="<%= item.id %>">
                <input type="hidden" name="user-id" value="<%= item.user_id %>">
      </form>
      <% }) %>
    </div>
    <a href="#" class="up-arrow"
      ><img src="assets/icons/up.png" alt="up-arrow"
    /></a>
    <% } else { %>
      <h1 class="title">This person hasn't added anything yet</h1>
      <% } %>
    <%-include("partials/footer.ejs") %>
  </body>
</html>
