<%- include("partials/header.ejs") %>
  <body>

    <!-- Searchbar -->
    
    <%- include("partials/search-bar.ejs") %>
      
      <!-- Show search results -->
    
    
       
          <h1 class="title">SELECT AN USER TO VIEW THEIR AMTss</h1>
          <div class="grid-container-users">
            <% users.forEach(user => { %>
              <div class="user-card">
              <a href="/<%= user.user %>" > <p class="bold"> <%= user.userName %> </p>
                     <img class="profile-picture" src="https://cataas.com/cat?random=<%= Math.random() %>" alt="Profile Picture">  
              </a>
            </div>
            <% }) %>
              </div>
 
    <%-include("partials/footer.ejs") %>
  </body>
</html>
