<%- include("partials/header.ejs") %>
  <body>

    <!-- Searchbar -->
    
    <%- include("partials/search-bar.ejs") %>
      
      <% if (locals.data && locals.data.length > 0 ) { %>
        
        <h1 class="title">Your Watchlist</h1>
    <div class="grid-container">
      <% data.forEach(data => { %>
        <form action="/to-update" method="post" class="grid-item"> 
            <button class="watchlist-btn" type="submit"><img src="assets/icons/check.png" alt="watched it"><span class="invisible">Click to add as watched</span></button>
            
          <h2 class="title"><%= data.title %></h2>
          <div class="poster-card" >
          <img class="poster" src="<%= data.poster_path %>" alt="<%= data.title %> poster" loading="lazy"> 
          </div>
          <p class="description"> <span class="bold">Description:</span> <%= data.overview %></p>
          <p class="date"> <span class="bold">Release Date:</span> <%= data.release_date %></p>
          <input type="hidden" name="del" value="<%= data.id %>">
        </form>
      <% }) %>
    </div>
    <a href="#" class="up-arrow"><img src="assets/icons/up.png" alt="up-arrow"></a>
     
  <% } else { %>
    
    <h2 class="title">You have not added anything yet.</h2>
    


  <% } %>
 
    <%-include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const errorMessage = "<%= err %>";
      if (errorMessage) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: errorMessage,
        });
      }
    })
      </script>
  </body>
</html>
